<div class="field">
  <label for="name">Enter your name:</label>
  <input id="name" type="text" name="name"  data-model="name" />
</div>

<div class="field">
  <label for="title">Enter your title:</label>
  <input id="title" type="text" name="title" data-model="title" />
</div>

<div class="results">
  <h1 data-binding="name"></h1>
  <h2 data-binding="title"></h2>
</div>